body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

#textbox {
	width: 20%;
	margin: auto;
}

#button-group {
	margin: auto;
}

#guess_answer {
	color: red;
	font-size: 150%;
	margin: 10px 0 10px -35px
}

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
 }

#overlay img{
	margin-top: 10%;
}

#overlay p{
	color: white;
}