body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

#textbox {
	width: 20%;
	margin: auto;
}

#button-group {
	margin: auto;
}

#guess_answer {
	color: red;
	font-size: 150%;
	margin: 10px 0 10px -35px
}